





.root{-fx-background-image: url(pikachu.jpg);}

.label
    {
        -fx-font-size:12px;
        -fx-font-weight:bold;
        -fx-fill:#0E1D33;
    }

.button
{
    -fx-background-color:linear-gradient(#61a2b1,#2A5058);
    -fx-text-fill:white;
}